<html>
<head>
    <meta charset="utf8"/>
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<script src="js-lib/angular.min.js"></script>
<script src="js-lib/jquery-2.1.1.min.js"></script>
<script src="js-lib/bootstrap-3.1.1.min.js"></script>
<script src="js-lib/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
<script src="forms.js"></script>
<script src="contactApp.js"></script>
<script>
    $(function () {
        $('#openModal').click(function () {
            var mymodal = $('#myModal');
            mymodal.modal('show');
        });
    });
</script>

<div data-ng-app="contactApp">
    <div class="row" style="margin-top: 60px;">

        <div class="col-md-offset-1 col-md-4">
            <div class="panel panel-default" ng-controller="ContactListCtrl">
                <div class="panel-heading">
                    <span class="panel-title">List of Contacts</span>
                    <button type="button" class="btn btn-default btn-xs pull-right"
                            data-ng-click="store.loadContacts()">
                        Load
                    </button>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Salutation</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in store.getContacts()">
                            <td>{{row.salutation}}</td>
                            <td>{{row.firstname}}</td>
                            <td>{{row.lastname}}</td>
                            <td>
                                <a href class="btn btn-primary btn-xs"
                                   data-ng-click="selectContact(row,'rb');">Classic/Live</a>
                                <a href class="btn btn-primary btn-xs"
                                   data-ng-click="selectContact(row,'ng');">Angular-UI</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="ContactFormCtrl">
        <reboot-dialog title="Edit Contact">
            <reboot-select name="salutation" caption="Salutation" placeholder="Select salutation"
                           ng-model="form.salutation"
                           option-source="data/salutations.json"></reboot-select>
            <reboot-input name="firstname" caption="Firstname" placeholder="Enter firstname"
                          ng-model="form.firstname"></reboot-input>
            <reboot-input name="lastname" caption="Lastname" placeholder="Enter lastname"
                          ng-model="form.lastname"></reboot-input>
        </reboot-dialog>
    </div>

    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Edit Contact</h3>
            </div>
            <div class="modal-body">
                <reboot-select name="salutation" caption="Salutation" placeholder="Select salutation"
                               ng-model="form.salutation"
                               option-source="data/salutations.json"></reboot-select>
                <reboot-input name="firstname" caption="Firstname" placeholder="Enter firstname"
                              ng-model="form.firstname"></reboot-input>
                <reboot-input name="lastname" caption="Lastname" placeholder="Enter lastname"
                              ng-model="form.lastname"></reboot-input>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="ok()">Ok</button>
            </div>
        </script>
    </div>

</div>

</body>
</html>
