<html>
<head>
    <meta charset="utf8"/>
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<script src="js-lib/angular.min.js"></script>
<script src="js-lib/jquery-2.1.1.min.js"></script>
<script src="forms.js"></script>
<script>
    function Person(salutation, firstname, lastname) {
        this.salutation = salutation;
        this.firstname = firstname;
        this.lastname = lastname;
    }

    angular.module('chrisiApp', ['forms'])
            .factory('Editor', function () {
                var selectedPerson;
                return {
                    selectPerson: function (person) {
                        selectedPerson = person;
                    },
                    getSelectedPerson: function () {
                        return selectedPerson;
                    }
                };
            })
            .controller('PersonCtrl', function ($scope, Editor) {
                $scope.editor = Editor;
                $scope.name = "Christian";
                $scope.familie = [new Person('Herr', 'Christian', 'Gebauer'), new Person('Frau', 'Stefanie', 'Cremer'), new Person('Herr', 'Burkhard', 'Gebauer')];
            })
            .controller('FormCtrl', function ($scope, Editor) {
                $scope.editor = Editor;
                $scope.gtiForm = Editor.getSelectedPerson();
            })
    ;
</script>

<div ng-app="chrisiApp">

    <div class="row">
        <div class="col-lg-4">
            <table class="table" ng-controller="PersonCtrl">
                <tr ng-repeat="row in familie">
                    <td>{{row.salutation}}</td>
                    <td>{{row.firstname}}</td>
                    <td>{{row.lastname}}</td>
                    <td><a href class="btn btn-primary btn-xs" ng-click="editor.selectPerson(row);">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">

        <form class="col-lg-4" class="form-horizontal" role="form" ng-controller="FormCtrl">
            <fieldset>

                <div class="form-group">
                    <legend>Form Name</legend>
                </div>

                <reboot-select name="salutation" caption="Salutation" placeholder="Select salutation"
                               ng-model="gtiForm.salutation" option-source="salutations.json"></reboot-select>
                <reboot-input name="firstname" caption="Firstname" placeholder="Enter firstname"
                              ng-model="gtiForm.firstname"></reboot-input>
                <reboot-input name="lastname" caption="Lastname" placeholder="Enter lastname"
                              ng-model="gtiForm.lastname"></reboot-input>


            </fieldset>
        </form>
    </div>
</div>


</body>
</html>
